---
// src/pages/cursos/quimica_general.astro
import LandingLayout from "../../layouts/landing/00-LandingLayout.astro";
import { cursosCiencia } from "../../data/cursos.js";

const curso = cursosCiencia.find(c => c.id === "quimica_general");
---

{curso ? <LandingLayout curso={curso} tipo="curso" /> : <h1>Curso no encontrado</h1>}
