---
// src/pages/cursos/quimica_general.astro
import LandingPageTemplate from "../../components/LandingPageTemplate.astro";
import { cursosCiencia } from "../../data/cursos.js";

const curso = cursosCiencia.find(c => c.id === "quimica_general");
---

{curso ? <LandingPageTemplate curso={curso} tipo="curso" /> : <h1>Curso no encontrado</h1>}
