---
// src/pages/apuntes/astro.astro
import LandingPageTemplate from "../../components/LandingPageTemplate.astro";
import { apuntesTecnicos } from "../../data/apuntes.js";

const apunte = apuntesTecnicos.find(a => a.id === "astro");
---

{apunte ? <LandingPageTemplate curso={apunte} tipo="apunte" /> : <h1>Guía no encontrada</h1>}
