---
// src/pages/apuntes/astro.astro
import LandingLayout from "../../layouts/landing/00-LandingLayout.astro";
import { apuntesTecnicos } from "../../data/apuntes.js";

const apunte = apuntesTecnicos.find(a => a.id === "astro");
---

{apunte ? <LandingLayout curso={apunte} tipo="apunte" /> : <h1>Guía no encontrada</h1>}
